<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT US </title>
</head>
<body>
    <div class="container-fluid">
        <H2>ABOUT US</H2>
    <p></p>The establishment of Kibabii University (KIBU) is traced to the origins of Kibabii teachers’ training college which is the precursor to the current Kibabii University. For more than twenty years, the proposed Kibabii Teachers Training College in Bungoma South district remained a mere dream. On 19th September, 2007, His Excellency President Mwai Kibaki graciously presided over a ground breaking ceremony at the proposed site.

The History of a Teacher Training College in Kibabii dates back to the pre-independence period. The idea was initiated by the Mill Hill Fathers in 1932. This college trained P4’s between 1932 and 1942 and P3’s between 1958 and 1961 in the current St. Mary’s Kibabii High School. However, the college was moved to Eregi (Eregi Teacher Training College) in 1962.

The idea of Kibabii Teachers College was revisited by the local community in 1978. The Government accepted the idea and the Ministry of Education through
    Projects Implementation Unit and African Development Bank Tender No. PIN/ADB/BLDG/01/94-95 on construction
    of Kibabii Primary Teachers Training College gave notice of prequalification of contractors. This resulted
    into M/C Metic General Contractors being awarded the contract to put Kibabii College in March 1997. However,
    the African Development Bank soon ceased funding the Kenya Education II project under which Kibabii Teachers College was to be financed.</p>
    </div>
</body>
</html>